.App {
  text-align: center;
  padding-top: 20px;
}

body {
  background: rgb(221, 213, 213);
  background: linear-gradient(
    90deg,
    rgba(221, 213, 213, 1) 14%,
    rgba(213, 133, 133, 1) 24%,
    rgba(148, 74, 74, 1) 40%,
    rgba(189, 150, 150, 1) 57%,
    rgba(204, 192, 192, 1) 76%
  );
}

.movie-btn {
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.9);
}

.movie-btn:active {
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.9);
  transform: scale(0.98);
}

.nav-btn {
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.3);
}

.nav-btn:active {
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

/* was the class for our h5 when letters were deleted */
/* .search-movies {
  margin-top: -105px;
  margin-left: 15px;
  font-size: 24px;
  color: ghostwhite;
  text-shadow: 2px 2px 5px darkred;
} */
